h1 {
    font-size: 3em;
}

table {
	border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
	padding: 0;
}

td {
    border: solid 1px;
    width: 1em;
    height: 1em;
}

.alive {
    background-color: black;
}

.emInPixel {
    height:0;
    width:0;
    outline:none;
    border:none;
    padding:none;
    margin:none;
}