h1 {
    font-size: 4em;
}

table {
	border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
	padding: 0;
}

td {
    border: solid 1px;
    width: 3em;
    height: 3em;
}

button, select {
    font-size: 3em;
}

.alive {
    background-color: black;
}