body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1 1 auto;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    padding: 0;
}

td {
    border: solid 1px;
    width: 1em;
    height: 1em;
}

.header, .footer {
    flex: 0 0 auto;
}

.alive {
    background-color: black;
}

.emMeasure {
    height: 0;
    width: 0;
    outline: none;
    border: none;
    padding: none;
    margin: none;
}